
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0; 
  padding: 0;
  font-family: Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.15rem;
  background-color: #0a0b0afd;
}


.badge {
  background-color: #e4e4e400;
  color: #0ad80a6c;
  padding: .3rem 1rem;
  font-weight: bold;
  border:.1rem solid #0ad80a6c;
}

.hero {
  position: relative;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.video {
  width: 100%;
  height: 69rem;
  object-fit: cover;
}

.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1003;
}

#myNavbar {
  background-color: rgba(0, 0, 0, 0.876);
}

#navbarNav a{
  padding-left: 1.5rem;
  padding-right: 1.5rem;;
}

#miNombre {
  display: flex;
  justify-content: center;
  border-radius: 6px;;
  font-weight: 600;
  transition: 300ms;
}

#miNombre:hover  {
  color: #ffffff;
  filter: drop-shadow( 0rem 0rem 1rem #1fff02);
}

.navbar-nav .nav-link {
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 6px;;
  font-weight: 600;
  transition: 300ms;
}

.navbar-nav .nav-link:hover  {
  color: #000000;
  background: rgba(251, 255, 249, 0.956);
  border-color: #00ffff65;
  box-shadow: 0 0 1rem #1ff003b6;
}

#navbarLinks {
  margin-right: 20%;
}

h2, h3 {
  color: rgba(255, 255, 255, 0.781);
}

.about-section {
  display: flex;
  align-items: center; 
}


.floating-coin {
  padding-top: 5rem;
  margin: 1rem auto; 
  width: 100%;
  max-width: 300px;
}

.floating-coin img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.blurry-card {
  width: 80%; 
  max-width: 600px; 
  margin-top: 6rem;
  margin-bottom: 2rem;
  background: transparent;
  border-radius: 10px;
  border: white 0.05rem solid;
  box-shadow:0 0 30px  rgba(0, 0, 0, .75);
  padding: .5rem;
  text-align: center;
  backdrop-filter: blur(10px);
}

.blurry-card h1.overlay {
  color: rgb(255, 255, 255);
  font-size: 2em;
  border-bottom: white 0.05rem solid;
  padding-bottom: 1rem;
}

.card-content {
  color: rgb(255, 255, 255);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.floating-coin,
.blurry-card {
  z-index: 1002;
}

.sticky-container {
  padding: 0;
  margin: 0;
  position: fixed;
  right: -130px;
  top: 230px;
  width: 210px;
  z-index: 1007;
}

.sticky li {
  list-style-type: none;
  background-color: #eef1ed;
  height: 43px;
  padding: 0;
  margin: 0 0 1px 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.sticky li:hover {
  margin-left: -115px;
}

.sticky li i,
li svg {
  float: left;
  margin: 5px 18px;
  margin-right: 12px;
}

.sticky li p {
  padding-top: 5px;
  margin: 0px;
  line-height: 16px;
  font-size: 11px;
 
}

.sticky li p a {
  text-decoration: none;
  color: #2c3539;
}

.sticky li p a:hover {
  text-decoration: underline;
  color: #3bb92ada;
}

#projects {
  margin-top: 3rem;
  padding:2.1rem 1.2rem;
  animation: pulsate 3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 1rem #3ea83e82;
  }
  50% {
    box-shadow: 0 0 1.5rem #3ea83e82;
  }
  100% {
    box-shadow: 0 0 1rem #3ea83e82;
  }
}


#myProjects ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:2rem;
}

#myProjects li {
  width: calc(50% - 1.2rem); 
  margin-bottom: 3rem; 
}

#myProjects .full-width {
  width: 100%;
  padding-bottom: 4rem;
}

#myProjects img {
  width: 100%;
  height: auto;
}

#collectionLink {
  display: flex;
  justify-content: center;
  font-size: .9rem;
  border: .1rem solid #ffffff;
  border-radius: 6px;
  padding: .5rem .75rem;
  font-weight: 600;
  transition: 300ms;
}

#collectionLink:hover  {
  color: #000000;
  background: rgba(240, 237, 237, 0.836);
  border-color: #00ffff65;
  box-shadow: 0 0 1rem #1ff0038f;
}

#contact {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
}

#kitty {
  width: 25vw;
  height: 90vh;
}
.form-container {
  max-width: 69rem;
  background: linear-gradient(#212121, #353434d8) padding-box,
              linear-gradient(145deg, transparent 35%, #05fa4252, #00f7ff46) border-box;
  border: 0.25rem solid transparent;
  padding: 2rem 1.5rem;
  font-size: 0.875rem;
  font-family: inherit;
  color: rgb(231, 233, 230);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  box-sizing: border-box;
  border-radius: .1rem;
  background-size: 200% 100%;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  transform: scale(0.95);
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 0.3125rem;
  color: #fff;
  font-weight: 600;
  font-size: 0.75rem;
}

.form-container .form-group input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 0.0625rem solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 0.0625rem solid #414141;
}

.form-container .form-group ::placeholder {
  opacity: .35;
  color: #cbddd0;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #1fff01;
  color: black;
  background-color: #eef1ed;

}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #1fff01;
  color: black;
  background-color: #eef1ed;
}




.form-container .form-submit-btn {
  box-sizing: border-box;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 6.3rem;
  color: #c6c7c4;
  background: #3131319a;
  border: 0.063rem solid #414141;
  padding: 0.75rem 1rem;
  font-size: inherit;
  gap: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: 300ms;
  overflow: hidden;
}



.form-container .form-submit-btn:hover, .form-container .form-submit-btn:focus {
  color: #000000;
  background: rgba(240, 237, 237, 0.836);
  border-color: #00ffff65;
  box-shadow: 0 0 1rem #1ff0038f;
}

a {
  color: #c6cac6;
}

a:hover, a:focus {
  color: #05ff05cb;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-top: .1rem solid #1fff0175 ;
}

footer a {
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: end;
  border: 1px solid rgba(145, 145, 145, 0.607)
}

footer a:hover {
  border: 1px solid rgb(255, 255, 255)
}

#resume {
  margin-top: 6.5rem;
  width: 100vw;
  height:100vh;
}



@media (max-width: 993px) {
  .blurry-card {
    overflow-y: auto;
    max-height: calc(100vh - 22rem);
  }
  .about-section {
    flex-direction: column;
  }
  #myProjects li.half-width {
    width: 100vw;
  }

  #kitty {
    width: 75vw;
    height: 90vh;
  }
}